* { 
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
}

h2 { 
	color: #eee;
	font: 30px "Courier New", Courier, monospace;
	margin: 0 0 10px 0;
}

textarea {
	width: auto;
	height: 20px;
	resize: none;
	color: #eee;
	background-color: #333;
	border-color: #333;
	padding: 10px;
	font: 12px "Courier New", Courier, monospace;
	float: right; 
}

#sendie {
	height: 100px;
}

#page-wrap {
	width: 80%;
	margin: 30px auto; 
	position: relative; 
}

#chat-area {
	width: auto;
	height: 380px;
	font: 12px "Courier New", Courier, monospace;
	overflow: auto;
	padding: 20px;
	background: #333; 
}

#chat-area span {
	color: #222;
	font-size: 1.8vh;
	background: #eee;
	padding-left: 1px; 
	border-radius: 1px;
	margin-right: 5px;
}

#chat-area p {
	font-size: 1.6;
	padding: 8px 0;
	color: #eee;
	border-bottom: 1px solid #ccc;
}

#name-area {
	position: absolute;
	top: 12px;
	right: 0;
	color: white;
	font: bold 12px "Courier New", Courier, monospace;
	text-align: right;
}   

#name-area span {
	color: #fa9f00;
}

#send-message-area {
	display: flex;
	flex-direction: column;
}

#send-message-area p {
	float: left;
	color: white;
	margin-left: 2vh;
	padding-top: 1vh;
	font-size: 14px;
}

@media screen and (max-width: 800px) {
	#page-wrap {
		margin-left: auto;
		margin-right: auto;
		margin-top: 1vh;
		margin-bottom: 0;
	}

	#chat-area {
		height: 185px;
	}

	#sendie {
		height: 40px;
	}
}
