main {
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}


#upload {
	margin-top: 4vh;
	margin-bottom: 4vh;
	margin-left: auto;
	margin-right: auto;
	padding: 2vh;
	width: 80%;
	text-align: center;
	background-color: #333;
}

#submit {
	color: #000;
}

.file_size {
	text-align: right;
}

.file_name {
	text-align: left;
}

@media screen and (max-width: 800px) {
	main {
		width: 90%;
	}
}
