* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
	color: #eee;
	font-family: "Courier New", Courier, monospace;
}

a {
	color: #eee;
	text-decoration: none;
	outline: none;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 10vh;
	background-color: #333;
	line-height: 10vh;
}

#menu {
	margin-right: 2vh;
	list-style: none;
}

#menu li {
	display: inline;
}

#title {
	margin-left: 2vh;
	font-size: 5vw;	
}

@media screen and (max-width: 800px) {
	
}
