/* ---------------------------------------------------------------------------------------------- */
/* -----| GENERAL |------------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------- */

body {
}

body.breadcrumb-fixed {
	padding-top: 56px;
}

.container {
	width: 100%;
	padding: 0;
}

hr {
        display: none;
}

/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#page-navbar {
        display: none;
}

#page-navbar .navbar-text {
	display: block;
	float: left;
	font-family: 'Cutive Mono', monospace, serif;
	max-width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| DIRECTORY LISTER |--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#directory-list-header {
	font-family: 'Cutive Mono', monospace, serif;
	font-weight: bold;
	padding: 10px 15px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#directory-listing {
	font-family: 'Cutive Mono', monospace, serif;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#directory-listing li {
	position: relative;
}

.file-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file-name i {
	color: #555;
}

.file-info-button,
.web-link-button {
	display: inline-block;
	cursor: pointer;
	margin-left: 100%;
	padding: 6px 10px !important;
	position: absolute !important;
	top: 4px;
}

.web-link-button i,
.file-info-button i {
	color: #999;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| FOOTER |------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.footer {
	margin: 20px;
	text-align: center;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| CHECKSUM MODAL |----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.modal-content {
	background-color: #333;
}

#file-info {
	background-color: #333;
	margin: 0;
}

#file-info .table-title {
	font-weight: bold;
	text-align: right;
}

#file-info .md5-hash,
#file-info .sha1-hash {
	font-family: 'Cutive Mono', monospace, serif;
}


/* -------------------------------------------------------------------------- */
/* -----| RESPONSIVE |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@media (max-width: 767px) {

	.navbar-nav {
		float: left;
		margin: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.navbar-nav > li {
		float: left;
	}

	.navbar-nav > li > a {
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.navbar-right {
		float: right !important;
	}

	#page-navbar .navbar-text {
		margin-left: 15px;
		margin-right: 15px;
		max-width: 75%;
	}

	.file-info-button {
		display: none !important;
	}

}

